@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/* costm proporti */
:root{
    --text_color:#333;
    --accent_color_green:#0A775F;
    --accent_color_brown:#C99B67;
    --accent_color_brown_60:rgb(201, 155, 103,0.6);
    --accent_color_brown:rgb(201, 155, 103,0.8);
    --accent_color_green_80:rgb(10, 119, 95 , 0.8);
    --accent_color_green_60:rgb(10, 119, 95,0.6);
    --light_brown:#f3d7b7;
    --light_bg:#f8f8f2;
    --outline_color:var(--accent_color_green)
}
/* globol */
html{
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: inherit;

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    background-color: #fff;
    color: #222;
}
img{
    max-width: 100%;
    height: auto;
}
.button {
    padding: 16px 24px;
    border-radius: 100px;
    bottom: 0;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-variant: small-caps;
    white-space: nowrap;
    transition: 1s all;
    color:#fff;
}
.button_green {
    
    background: var(--accent_color_green);
}
.button_green:hover{
    background: var(--accent_color_green_80);
}
.button_green:active{
    background: var(--accent_color_green_60);
}
.button_brown{
    background: var(--accent_color_brown);
}
*:focus{
    outline: 2px dashed var(--outline_color);
    outline-offset: 3px;
}
/* conteiner */

.container{
    width: 100%;
    max-width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* main_content */
.main_content{
    flex-grow: 1;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* site_haeder_hero_wrapper */

.site_haeder_hero_wrapper{
    background: url(../img/fon.jpg) repeat;
    

}

/*site_header */
.site_header {
    padding-top: 40px;
    padding-bottom: 40px;

}
.site_header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
}
.site_header_logo_link {
    text-decoration: none;
    display: flex;
    flex-shrink: 0;
}
.site_header_logo_img {
    width: 235px;
    height: 24px;
    object-fit: contain;
}
.site_header_logo_img:hover{
    opacity: 0.8;
}
.site_header_logo_img:active{
    opacity: 0.8;
}
.sitenav {
}
.sitenav_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sitenav_item:not(:last-child) {
    margin-right: 40px;
}
.sitenav_link {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text_color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: normal;
    transition: all 1s;
    white-space: nowrap;
}
.sitenav_link:hover{
   color: var(--accent_color_green);
}
.sitenav_link:active{
    opacity: 0.6;
}
/* hero */
.site_hero {
}
.hero_container {
    display: flex;
    padding-left: 0;
    padding-right: 0;
}
.hero_info_wrapper {
    width: 100%;
    max-width: 730px;
    padding-top: 116px;
    padding-bottom: 100px;
    padding-left: 150px;
    padding-right: 116px;
}
.hero_info_heading {
    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: normal;
    color: #000000;
}
.hero_text {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: normal;
}
.hero_text:not(:last-child){
    margin-bottom: 40px;
}
.hero_img {
    margin: 0;
    padding: 0;
    width: 710px;
    height: 596px;
}
/* index_collection */
.index_collection {
    margin-bottom: 20px;
}
.index_collection_inner{
    padding: 50px 143px;
    background: var(--light_bg);
    background: url(../img/bg_collection.jpg) center/cover;
}
.index_collectiton_haeding {
    margin: 0;
    margin-bottom: 80px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: normal;
}
.index_collection_list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.index_collection_item {
    display: flex;
    align-items: center;
}
.index_collection_item:nth-child(even){
    flex-direction: row-reverse;
}
.index_collection_img {
    width: 450px;
    height: 375px;
    object-fit: cover;
    flex-shrink: 0;
}
.index_collectiion_info {
    flex-wrap: 1;
    padding-left: 117px;
    padding-right: 117px;
    
}
.index_collection_title {
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 48px;
    line-height: normal;
    text-transform: uppercase;
}
.index_collection_text {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height:normal;
    color: var(--text_color);
}
.index_collection_text:not(:last-child){
    margin-bottom: 10px;
}

/* index_feacher */

/* .index_fiatures {
    
} */
.index_features_inner {
   padding: 50px 30px;
    background: url(../img/index_features_bg.jpg) no-repeat;
    background-size: 100%;

}
.index_features_heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
}
.index_features_lead {
    width: 100%;
    max-width: 581px;
    margin-top: 0;
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
    mix-blend-mode: normal;
}
.index_features_list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-left: -20px;
}
.index_features_item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 30px;
}
.index_features_img {
    width: 433px;
    height: 500px;
    object-fit: cover;
    margin-bottom: 28px;
}
.index_feachers_item_heading {
    margin-top: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 35px;
    color: var(--text_color);
}
.index_feachers_item_text {
    margin-top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--text_color);
}
/* how_it_works */

.how_it_works {
}
.how_it_works_inner {
    text-align: center;
    padding: 50px 30px;
    background: var(--accent_color_green);
    background: url(../img/how_it_works_bg.jpg) no-repeat; 
}
.how_it_works_heading {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    text-align: center;
    font-variant: small-caps;
}
.how_it_works_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: left;
    margin-left: -20px;
    counter-reset: how_it_works;
    margin-bottom: 60px;
}
.how_it_works_item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    counter-increment:how_it_works ;
} 
.how_it_works_item::before{ 
    content: "";
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    background: var(--light_bg);
    border: 4px solid var(--accent_color_brown);
} 
.how_it_works_info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    background: var(--light_bg);
    padding: 20px 20px 40px;
}
.how_it_works_info::before{
    content: "0"counter(how_it_works);
    align-self: flex-end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    margin-bottom: 45px;
}
.how_it_works_step_title {
    margin: 0;
    max-width: 750px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.how_it_works_text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}
/* site_footer */

.site_footer {
    padding-top: 65px;
    padding-bottom: 65px;
    background: url(../img/fon.jpg) repeat;
}
.site_footer_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
    
.socials {
    display: flex;
    align-items: center;
    list-style: none;
}
.socials_item:not(:last-child) {
    margin-right: 30px;

}
.socials_link {
    color: #333;
}
.socials_link:hover{
    color:var(--accent_color_green)
}
.socials_link:active {
    color:var(--accent_color_green_80)
}

/* retina */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    .site_haeder_hero_wrapper{
        background: url(../img/fon@2x.jpg) no-repeat;
    
    }   
    .index_features_inner {
        background: url(../img/index_features_@2x.jpg);
    }
    
}